In [1]:
s= 'say "hello" to mom'

In [4]:
s= 'say \"hello\' to mom'

In [3]:
print('''Dear Alice  
How are you? 
I fine thank you''')

Dear Alice
How are you?
I fine thank you

In [5]:
hello = 'hello world'

In [6]:
hello[1]

'e'

In [7]:
hello[5]

' '

In [13]:
lang='python programming'

In [14]:
lang[3]

'h'

In [15]:
lang[7:9]

'pr'

In [16]:
lang[-7:9]

''

In [17]:
lang[-7:5:9]

''

In [21]:
a = "hell"
b = "rarar"

In [22]:
a+b

'hellrarar'

### len(): 괄호 안에 있는 문자열 개수 출력

### in()

In [23]:
'm' in lang

True

In [24]:
lang.upper()

'PYTHON PROGRAMMING'

In [25]:
lang.islower()

True

In [28]:
lang.isupper()

False

In [30]:
'KSIGAA'.lower()

'ksigaa'

### 입출력문

In [33]:
math_score=45
science_score=58
english_score=1

In [34]:
print(math_score,science_score,english_score)

45 58 1

In [35]:
print("내 수학점수는 :",math_score)

내 수학점수는 : 45

In [36]:
print("내 과학점수는 :",science_score)

내 과학점수는 : 58

In [37]:
print("내 영어점수는 :", english_score)

내 영어점수는 : 1

In [ ]:
print("내 수학점수는 :", math_score,"내 영어점수는",)

In [38]:
print("수학점수는 : {}\n, 과학점수는 {}\n, 영어점수는 {} 이다 "
      .format(math_score, science_score, english_score))

수학점수는 : 45
, 과학점수는 58
, 영어점수는 1 이다

In [39]:
print("수학점수는 : {2}\n, 과학점수는 {2}\n, 영어점수는 {2} 이다 "
      .format(math_score, science_score, english_score))

수학점수는 : 1
, 과학점수는 1
, 영어점수는 1 이다

In [40]:
print("수학점수는 : {3}\n, 과학점수는 {3}\n, 영어점수는 {1} 이다 "
      .format(math_score, science_score, english_score))

IndexError: tuple index out of range

In [42]:
print?

In [58]:
print('a',end ="sflskgl")

asflskgl

In [59]:
print('안녕', end='e')

안녕e

### 입력문 input()

In [46]:
input()

gg

'gg'

In [56]:
name = input("이름을 입력하세요 : ")
phone = input("전화번호를 입력하세요 :")
add = input("주소를 입력하세요 :")

print("이름 :{0}\n전화번호 :{1}\n주소 :{2}"
      .format(name,phone,add))

이름을 입력하세요 : 노가은
전화번호를 입력하세요 :0134
주소를 입력하세요 :광주
이름 :노가은
 전화번호 :0134
주소 :광주

### 문제

```세 과목(국어, 수학, 영어) 성적을 input() 함수로 입력받아 세 과
목의 총점과 평균을 구하는 프로그램을 작성하시오. 평균은 소수점
둘째 자리까지 출력되도록 한다.```

In [12]:
#점수입력
'''input으로 입력을 받으면 문자열으로 된다. 
따라서 int()함수로 데이터타입을 변형한 뒤 각 변수에 할당한다
'''

x = input("국어 성적을 입력하세요 :")
y = input("수학 성적을 입력하세요 :")
z = input("영어 성적을 입력하세요 :")

print()
print("입력받은 성적") 
print("-"*15)

print("국어 성적 : {}\n수학 성적 : {}\n영어 성적 : {}"
     .format(x, y, z))

print("-"*15)
print()
  
a = int(x)+int(y)+int(z)
b = a/3
print("총점 : ",a, '\n' "평균 : ",b)

국어 성적을 입력하세요 :78
수학 성적을 입력하세요 :90
영어 성적을 입력하세요 :86

입력받은 성적
-----------
국어 성적 : 78
수학 성적 : 90
영어 성적 : 86
-----------

총점 :  254
평균 :  84.66666666666667

'''input() 함수를 이용하여 원의 반지름을 입력받는다. 입력받은 반
지름으로 원의 넓이와 원의 둘레를 구하여 소수 셋째 자리까지 출
력하는 프로그램을 작성하시오. 원주율을 3.141592로 한다.'''

In [1]:
cir = int(input("반지름을 입력하세요 :",))
print("반지름 : ", cir)

area = cir**2*3.141592
length = cir*2*3.141592

print("원의 넓이 : ",area, "\n원의 둘레 : ", length)

반지름을 입력하세요 :5
반지름 :  5
원의 넓이 :  78.5398
원의 둘레 :  31.41592

In [11]:
num = input("다섯 자리 숫자를 입력하시오 : ")
print()
print(num[0],',',num[1],',',num[2],',',num[3],',',num[4])
print()
input("끝낼려면 엔터를 누르세요.")

print()
print(">>>")

다섯 자리 숫자를 입력하시오 : 45275

4 , 5 , 2 , 7 , 5

끝낼려면 엔터를 누르세요.

>>>