# 군집 자료형

## 1. list (리스트)
## 2. tuple (튜플)
## 3. set (집합)
## 4. dict (딕셔너리,사전)

# 1. 리스트

In [14]:
score = [50, 60, 70, 80, 90, 100, 99, 40]

In [17]:
score

[88, 80, 90, 100, 99, 40]

In [3]:
score[0]

50

In [5]:
score[0:3]

(50, 60, 70)

In [15]:
score[0] = 88

In [16]:
score[1:3]=[]

In [11]:
철수 = [55,66]
영희 =[77,22]

# 리스트 연산

In [12]:
철수 +영희

[55, 66, 77, 22]

In [13]:
철수*2

[55, 66, 55, 66]

In [18]:
55 in 철수

True

In [19]:
len(철수)

2

In [14]:
list5 =[1,2,3,4,5,6,7]

In [21]:
list5.append(3)

In [15]:
list5

[1, 2, 3, 4, 5, 6, 7]

In [16]:
list5.insert(2,44444)

In [17]:
list5

[1, 2, 44444, 3, 4, 5, 6, 7]

In [18]:
list5.pop()

7

In [19]:
list5

[1, 2, 44444, 3, 4, 5, 6]

In [20]:
type(list5)

list

In [70]:
명부=['철수','영희','재영','건희','대현','철수']

In [28]:
명부

['철수', '영희', '재영', '건희', '대현']

In [36]:
명부.remove('철수')

In [33]:
명부

['영희', '재영', '건희', '대현']

In [41]:
명부.count('철수')

2

In [42]:
명부.clear()

In [43]:
명부

[]

# 리스트 복사

In [65]:
명부2 =명부

In [66]:
명부2[5] = '철철'

In [67]:
명부2

['철수', '영희', '재영', '건희', '대현', '철철']

In [68]:
명부

['철수', '영희', '재영', '건희', '대현', '철철']

In [61]:
명부3 = 명부.copy()

In [64]:
명부3

['철수', '영희', '재영', '건희', '대현', '철철']

In [8]:
명부

NameError: name '명부' is not defined

In [63]:
명부3[5] = '철철'

In [52]:
x=[1,6,3,9,7,9,7,8,68,668,68]

In [53]:
x.sort()

In [54]:
x

[1, 3, 6, 7, 7, 8, 9, 9, 68, 68, 668]

In [56]:
x.sort(reverse=True)

In [57]:
x

[668, 68, 68, 9, 9, 8, 7, 7, 6, 3, 1]

In [10]:
type('명부')

str

# 집합

In [3]:
s = {1,2,3,1,1,1,1,1,11,1,1,1,11,1,1,1,1,1}

In [2]:
s[0]

TypeError: 'set' object does not support indexing

In [4]:
s

{1, 2, 3, 11}

In [5]:
type(s)

set

# 사전 (dict)

In [24]:
dict1 = {'철수':10, "영희": 8}

In [25]:
dict1[0]

KeyError: 0

In [26]:
dict1['철수']

10

In [27]:
dict2 ={0:10, 2:5, 3:88, '0':22}

In [28]:
dict2[0]

10

In [29]:
dict2['0']

22

In [31]:
type(dict2)

dict

##### copy(), items(), keys(), values()

In [36]:
성적 = {'가위':47, '수하':4723,'수아':37,'고고':84, '헹':3892}

In [34]:
성적['헹']

3892

In [38]:
성적2=성적.copy()

In [39]:
성적2.clear()

In [40]:
성적2

{}

In [42]:
성적.items()

dict_items([('가위', 47), ('수하', 4723), ('수아', 37), ('고고', 84), ('헹', 3892)])

In [43]:
성적3=list(성적.items())

In [45]:
type(성적3)

list

In [46]:
성적.keys()

dict_keys(['가위', '수하', '수아', '고고', '헹'])

In [47]:
성적.values()

dict_values([47, 4723, 37, 84, 3892])

In [48]:
성적3[2]

('수아', 37)