### 반복문

#### 1. while 문
#### 2. for 문

## while 문

In [1]:
a =1
while a<=5:
    print(a)
    a +=1

1
2
3
4
5

In [6]:
a = 1
sum_sum = 0

while a <= 10 :
    sum_sum += a
    a += 1
print('sum :', sum_sum)

sum : 55

# 문제

10부터 88888까지의 합을 구하시오

In [7]:
a = 10
summ = 0

while a<=88888 :
    summ +=a
    a += 1
print ("sum : ",summ)

sum :  3950582671

In [10]:
sum(range(10,88888))

3950493783


# break 문

In [14]:
while True:
    numm = int(input('번호를 입력하세요. (종료 시 1번 입력)'))
    print('프로그램 실행 중')
    
    if numm == 1:
        print('1번 입력하셨습니다. 프로그램 종료합니다.')
        break

번호를 입력하세요. (종료 시 1번 입력)1
프로그램 실행 중
1번 입력하셨습니다. 프로그램 종료합니다.

In [13]:
while True:
    id_id = input("아이디 : ")
    password = input("비밀번호 : ")
    
    if (id_id == "노가은") and (password == '3432'):
        print('로그인 되셨습니다.')
        break
    
    else:
        print('아이디/비밀번호를 확인해주세요 -> 고객센터응답114')

아이디 : 노가은
비밀번호 : 3432
로그인 되셨습니다.

## continue 문

In [15]:
while True:
    id_id = input("아이디 : ")
    password = input("비밀번호 : ")
    
    if (id_id == "노가은") and (password == '3432'):
        print('로그인 되셨습니다.')
        continue
        
    elif id_id == '종료':
        break
    
    else:
        print('아이디/비밀번호를 확인해주세요 -> 고객센터응답114')

아이디 : 종료
비밀번호 : 3432

### 문제

구구단을 출력하세요

In [16]:
n = 1
dan = int(input('\'단\'을 입력하세요'))

while n<=9:   
    print(n*dan)
    n +=1 # n=n+1

'단'을 입력하세요3
3
6
9
12
15
18
21
24
27

In [17]:
n = 1
dan = int(input('\'단\'을 입력하세요'))

while n<=9:   
    print("{} * {} ={}" .format(dan, n, dan*n))
    n +=1 # n=n+1

'단'을 입력하세요7
7 * 1 =7
7 * 2 =14
7 * 3 =21
7 * 4 =28
7 * 5 =35
7 * 6 =42
7 * 7 =49
7 * 8 =56
7 * 9 =63

### 구구단 출력하기

In [1]:
dan = 2

while dan <=9:
    n=1
    while n <=10:
        print(n*dan)
        n +=1
    dan +=1
    print ()

2
4
6
8
10
12
14
16
18
20

3
6
9
12
15
18
21
24
27
30

4
8
12
16
20
24
28
32
36
40

5
10
15
20
25
30
35
40
45
50

6
12
18
24
30
36
42
48
54
60

7
14
21
28
35
42
49
56
63
70

8
16
24
32
40
48
56
64
72
80

9
18
27
36
45
54
63
72
81
90

In [ ]:
x=2
num=0

while x <=9 :
    j=1
    while j<=10 :
        num=x*j
        print('{0:3d}'.format(num), end=" ")
        j+=1
    x+=1
    print()

A 학교에서는 주당 12시간 강의를 기본으로 하고 있다. 만약에 강
의 시간이 12시간을 초과하면 초과한 시간에 대해 시간당 급여의
30%를 더 지급한다. 주당 총 근무 시간과 A학교의 시간당 급여를
입력받아 1주일 급여를 계산하는 프로그램을 작성하시오.

In [10]:
time = int(input('근무 시간을 입력하시오 : '))
pay = int(input('시간당 수당을 입력하시오 : '))
print()

if time<=12:
    total = time*pay
    print('총 급여는 ', total ,' 원입니다.')

else:
    total = (time-12)*pay*1.3+12*pay
    print('총 급여는 ', int(total) ,' 원입니다.')

근무 시간을 입력하시오 : 20
시간당 수당을 입력하시오 : 40000

총 급여는  896000  원입니다.

하나의 양의 정수를 입력받아서 그 수의 약수를 모두 출력하고
약수의 개수도 출력하시오.

# for 반복문

###  range() 함수 : 일정 범위의 수를 반환*

In [1]:
range(5)

range(0, 5)

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [8]:
a = list(range(3,10,2))

In [11]:
b= list(range(10,1,-1))

In [14]:
c = list(range(3,8,2))

### for 문

In [20]:
names =  ['현기', '유진','재성', '정원', '일균','예지','주희']

In [22]:
for 이름 in names:
    print(이름)

현기
유진
재성
정원
일균
예지
주희

In [23]:
for 문자 in "불타는 금요일 입니다. 치맥!":
    print(문자)

불
타
는

금
요
일

입
니
다
.

치
맥
!

In [25]:
for 문자 in "불타는 금요일 입니다. 치맥!":
    print('a')

a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a

In [27]:
a = 'abcdefg'

In [29]:
a.upper()

'ABCDEFG'

In [30]:
for al_up in 'abcdefg':
    print(al_up.upper())

A
B
C
D
E
F
G

In [33]:
for x in range(1,101,2):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### 구구단

In [36]:
for dan in range(2,10):
    for n in range(1,11):
        print(dan*n, end=' ')
    print()

2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90

In [37]:
score = {4:90, 2:80, 1:95, 5:88, 3:92}

In [38]:
score

{1: 95, 2: 80, 3: 92, 4: 90, 5: 88}

In [39]:
for x in score :
    print(x)

4
2
1
5
3

In [40]:
for x in score.keys():
    print(x)

4
2
1
5
3

In [41]:
for x in score.items():
    print(x)

(4, 90)
(2, 80)
(1, 95)
(5, 88)
(3, 92)

In [44]:
for x in score.values():
    print(x)

90
80
95
88
92

In [46]:
for k,v in score.items():
    print("key는 : ",k, end=' ')
    print('values는 : ', v)

key는 :  4 values는 :  90
key는 :  2 values는 :  80
key는 :  1 values는 :  95
key는 :  5 values는 :  88
key는 :  3 values는 :  92

In [50]:
A = [x**2 for x in range(10)] #한 줄만 실행

In [51]:
print(A)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# 실습

In [79]:
for x in range(1,10):
    print(x, end=' ')
print()
for x in range(1,11):
    print(x*5,end=' ')
print()
for x in range(10,0,-1):
    print(x,end=' ')

1 2 3 4 5 6 7 8 9
5 10 15 20 25 30 35 40 45 50
10 9 8 7 6 5 4 3 2 1

score 리스트에 다섯 개의 성적(정수)를 입력 받아서 다음과 같이
출력하시오. 성적을 입력받을 때는 반드시 for 구문을 사용하고 파
이썬 내장 함수를 적절히 이용하시오.

In [ ]:
for x in range(5):
    y = int(input('성적을 입력하시오 : '))
    z=append[y]

print()
print('입력한 성적들 :', '[', z,']')


    y=int(input('성적을 입력하시오 : '))

In [ ]:
print('입력한 성적들 :','[y]')